/*Añadir normalize.css al proyecto para mejores resultados*/
*,*:before,*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size:62.5%; /*1rem = 10px*/
}
body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.6rem;
    line-height: 2; /*Interlineado*/
    margin: 0;
    padding: 0;
    background-color: #505050;


}
img {
    max-width: 100%; /*Imagen responsiva*/
    width: 100%;
    display: block;
}
.contenedor {
    width: 95%;
    height: 95%;
    margin: 0 auto 2rem auto; /*Contenedor centrado*/
    text-align: center;
}



/*Encabezado*/
.side-header{ 
    color: white;
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: 2.5rem;
}
.title h1{
    margin: 0;
}

.icon:hover{
    cursor: pointer;
    background-color: #303030;
}

.navegation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #303030;
    text-align: center;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 0;
    transition: backgrounp-color .3s ease-in-out;
}

.btn:hover{
    background-color: #121212;

}

/*Selectores*/
.container-nsfw{
    display: none;
    margin-top: 1.5rem;
    
}
.container-sfw{
    display: none;
    margin-top: 1.5rem;
}

/*Imagen*/
.container-img{
    margin: 2rem 0;
}

/*Boton descarga*/
.container-tools{
    display: none;
    justify-content: space-around;
    align-items: center;
}

.btn-favorite,.btn-about, .btn-link,.btn-media{
    display: inline-block;
    font-size: 3.5rem;
    color: white;
}
.btn-favorite{
    color: red;
}

/*Control*/
.visible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected{
    border-bottom: 2px solid white;
    background-color: back;
}
.visible-tools{
    display: flex;
}
/*Opciones de categoria*/
.selectSFW, .selectNSFW,.btnVer{
    cursor: pointer;
    color: white;
}
.selectSFW, .selectNSFW {
    border: 0;
    outline: 0;
    background: #485761;
    padding: 4px 4px;
    border-radius: 9px;
    width: 12rem;
    font-size: 2rem;
    text-align: center;

}

.btnVer{
    display: inline-block;
    margin-left: 3rem;
    font-size: 3rem;
}

/*Introduccion*//*//////////////////////////////////////////////////////////////*/
.introduction {
    border: 3px solid #485761;
    border-radius: 10px;
    color: white;
}


/*Footer*/
.container-about{
    text-align: start;
    color: white;
}
h3{
    text-transform: uppercase;
    margin: 0;
}
.container-media{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
}
.container-copyright{
    
    color: white;
}
.container-copyright span{
    font-weight: bolder;
}