/*Añadir normalize.css al proyecto para mejores resultados*/
*,*:before,*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size:62.5%; /*1rem = 10px*/
}
body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.6rem;
    line-height: 2; /*Interlineado*/
    margin: 0;
    padding: 0;
    background-color: #505050;


}
img {
    max-width: 100%; /*Imagen responsiva*/
    width: 100%;
    display: block;
}
.contenedor {
    width: 95%;
    height: 95%;
    margin: 0 auto 2rem auto; /*Contenedor centrado*/
    display: flex;
    justify-content: center;
    align-items: center;    
}



/*Encabezado*/
.side-header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    color: white;
    padding: 10px 0 10px 10px;
    text-align: center;
}
.title h1{
    margin: 0;
}
.icon{
    transition: background-color .3s ease-in-out;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    cursor: pointer;
    background-color: #303030;
}

.navegation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #303030;
    text-align: center;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: background-color .3s ease-in-out;
}

.btn:hover{
    background-color: #121212;

}

/*Selectores*/
.container-nsfw{
    display: none;
}
.container-sfw{
    display: none;
}

/*Imagen*/
.container-img{
    margin: 2rem 0;
}

/*Boton descarga*/
.container-download{
    display: none;
    justify-content: center;
    align-items: center;
}
.btn-download{
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 2rem;
    color: white;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.btn-download span{
    margin-left: 1rem;
    font-size: 2rem;
}


/*Control*/
.visible{
    display: inline-block;
}
.selected{
    border-bottom: 2px solid white;
    background-color: #121212;
}
.visible-download{
    display: flex;
}
/*Opciones de categoria*/
.opciones,.btnVer{
    border: 0;
    cursor: pointer;
    font-size: 1.6rem;
}
.opciones{
    text-align: center;
    width: 12rem;
    height: 2.4rem;
    margin-right: -4.5rem;
    padding-right: 1.6rem;

}
.btnVer{
    border-left: 2px solid black;
    height: 2.2rem;
    background-color: white;
    
}