.favorites-container {
  padding: 2rem;
}

.favorites-header-container {
  text-align: center;
  margin-bottom: 2rem;
}

.favorites-content-container {
  max-width: 1200px;
  margin: 0 auto;
}
.custom-overlay__caption {
  pointer-events: auto;
  text-align: end;
}

div[role^="tooltip"]  div[data-slot^="content"] {
  background: rgba(0, 0, 0, 0.7);
  padding: 4px;
}

.image-overlay {
  display: flex;
  justify-content: center;
  gap: 12px;
}