.home-container {
  padding: 3rem 0;
}
.home-container header h1 {
  font-size: 48px;
  line-height: normal;
  font-weight: 700;
  width: 80%;
  margin-bottom: 24px;
}

.home-container header p{
  font-size: 18px;
  margin-bottom: 24px;
}
.home-button-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 48px;
}
.home-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}