.image-viewer-container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.image-viewer-content-container h1 {
  font-size: 48px;
  line-height: normal;
  font-weight: 700;
  width: 80%;
  margin-bottom: 24px;
}

.image-viewer-select-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

div[data-slot^="popover"] {
  backdrop-filter: blur(24px);
  background-color: rgba(8, 4, 17, .2);
}

div[data-slot^="listboxWrapper"] {
  scrollbar-width: none;
}

.image-viewer-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 700px;
}

@media (min-width: 768px) {
  .image-viewer-container {
    padding: 4rem 0;
  }
}

@media (min-width: 1024px) {
  .image-viewer-container {
    padding: 6rem 0;
    flex-direction: row;
  }
}