/*Añadir normalize.css al proyecto para mejores resultados*/
*,*:before,*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size:62.5%; /*1rem = 10px*/
}
body {
    font-family: 'Montserrat', 'Open Sans',verdana, sans-serif;
    font-size: 1.6rem;
    line-height: 2; /*Interlineado*/
    margin: 0;
    padding: 0;
    background-color: #505050;
}
img {
    max-width: 100%; /*Imagen responsiva*/
    width: 100%;
    display: block;
}
.contenedor {
    width: 95%;
    height: 95%;
    margin: 0 auto; /*Contenedor centrado*/
    text-align: center;
}

/*Fuente para los select*/
select {
    font-family: inherit;
}

/*Encabezado*/
.side-header{
    color: #fff;
    padding: 10px 0 10px 10px;
    text-align: center;
    font-size: 1.5rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    display: inline-block;
    margin: 0;
}
.title img{
    width: 20%;
    display: block;
}

.navegation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #303030;
    text-align: center;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
    transition: background-color .3s ease-in-out;
}
.btn:hover{
    background-color: #121212;
}

/*Selectores*/
.container-nsfw{
    display: none;
    margin-top: 1.5rem;
    
}
.container-sfw{
    display: none;
    margin-top: 1.5rem;
}

/*Opciones de categoria*/
.selectSFW, .selectNSFW,.btnVer{
    cursor: pointer;
    color: #fff;
}
.selectSFW, .selectNSFW {
    border: 0;
    outline: 0;
    background: #485761;
    padding: 10px;
    border-radius: 9px;
    width: 14rem;
    font-size: 2rem;
    text-align: center;
}
.btnVer{
    display: inline-block;
    margin-left: 3rem;
    font-size: 4rem;
}

/*Imagen*/
.container-img{
    margin: 2rem 0;
    text-align: center;
}
.img-welcome{
    display: inline-block;
}

/*Contenedor de enlace, favorito y Acerca de...*/
.container-tools{
    display: none;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.btn-favorite,.btn-about, .btn-link,.btn-media{
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    cursor: pointer;
}
.btn-favorite{
    color: #ff0000;
}

/*Contenedor mostrar la ventana */
.container-footer{
    color: #fff;
}
.container-about{
    margin: 2rem 0;
}
.container-about h3{
    font-weight: 800;
    font-size: 2rem;
}
.container-about p{
    margin: 0;
    text-align: start;
    font-size: 1.4rem;
}
.container-media{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #fff;
    padding: 1.5rem 0;
}
.container-copyright span{
    font-weight: 700;
}

/* Ajustes de tamalo de letra para pantallas mas grandes*/
@media (min-width: 600px){
    .container-about h3{
        font-size: 3rem;
    }
    .container-about p{
        font-size: 2rem;
    }
    .swal2-popup{
        width: 45em !important;
    }
    .container-copyright{
        font-size: 1.6rem;
    }
    .side-header{
        font-size: 2.5rem;
    }
    .title img{
        width: 15%;
    }
    .img-welcome{
        width: 90%;
    }
}
@media (min-width: 950px){
    .title img{
        width: 10%;
    }
    .img-welcome{
        width: 70%;
    }
}

/*Control*/
.visible{
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected{
    border-bottom: 2px solid #fff;
    background-color: #000;
}
.visible-tools{
    display: flex;
}
